<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!-- We added this segment-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    
    <!-- This is waht that does the magic-->
    <rewrite>
      <rules> <!-- We specify a rule for rewriting the URL or to map internally-->
        <clear />
        
        <!-- This is evaluated first -->
        <!-- jst a name-->
        <!-- stopProcessing="true" means if the rule is okay then stop don't proceed to next rule if it's set to fals
          then next rule will also get processed so we set this to true.
        -->
        <rule name="Redirect to clean URL" enabled="true" stopProcessing="true">
          <!--
            match is saying like this: If a request comes in to server that has a .aspx condition then redirect to
            without aspx
            ^([a-z0-9/]+).aspx$" - this is called as a regular expression
          -->
          <match url="^([a-z0-9/]+).aspx$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <!-- "{R:1}" This is for both capital / small letter casing no matter what do the redirect-->
          <action type="Redirect" url="{R:1}" />
        </rule>
        
        <!-- This is second after evaluating first one-->
        <rule name="RewriteASPX" enabled="true">
          <!--
          This matches any url that's why a .* is used
          -->
          <match url="(.*)" />
          <!-- 
          This is like a group of conditions that checks if the action has to be done, much like a if else stmt.
          -->
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <!--
            matchType="IsFile" checks if the requested resource is a file or not if true, then don't redirect
            we don't want to redirect our images / scripts
            -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!--
            matchType="IsFile" checks if the requested resource is a folder or not if true, then don't redirect
            we don't want to redirect
            -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- 
            When both the conditions are not satisfied then we internally redirect to .aspx
            
            So when a request comes in like localhost:408368/program it will be mapped internally as
            localhost:408368/program.aspx
          -->
          <action type="Rewrite" url="{R:1}.aspx" />
        </rule>
      </rules>
    </rewrite>    
    
  </system.webServer>
  <!-- Till Here-->
  
  <!-- Also the following too-->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>    
  </system.web>
  
  <!-- The following lines were already there in the config file or it is auto-generated -->
   <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>  
  <!-- Till Here -->
</configuration>
